body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #1e3a46;

  /* Border radiuses */
  --br-6xl: 25px;
}