<!DOCTYPE html>
<html>
  <head>
    <title>Prediksi Penyakit</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <!-- <img class="group-icon" alt="" src="{{ url_for('static', filename='gambar/group-5.svg') }}" />
    <img class="group-child1" alt="" src="{{ url_for('static', filename='gambar/group-7.svg') }}" />
    <img class="icon-home" alt="" src="{{ url_for('static', filename='gambar/-icon-home.svg') }}" />
    <img class="logo-disease-fix-2-icon" alt="" src="{{ url_for('static', filename='gambar/logo-disease-fix-2@2x.png') }}" /> -->

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
  </head>
  <body>
    <h1>Prediksi Penyakit</h1>
    <form method="POST" action="/predict" onsubmit="return validateForm()">
      <label for="feature1">Gatal-gatal?</label>
      <select name="feature1" id="feature1">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature2">Ruam kulit?</label>
      <select name="feature2" id="feature2">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature3">Nodal skin erupsi?</label>
      <select name="feature3" id="feature3">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature4">Bersin terus menerus?</label>
      <select name="feature4" id="feature4">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature5">Tubuh gemetaran?</label>
      <select name="feature5" id="feature5">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature6">Tubuh panas dingin?</label>
      <select name="feature6" id="feature6">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature7">Nyeri sendi?</label>
      <select name="feature7" id="feature7">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature8">Sakit perut?</label>
      <select name="feature8" id="feature8">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature9">Lidah Keasaman?</label>
      <select name="feature9" id="feature9">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature10">Sariawan?</label>
      <select name="feature10" id="feature10">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature11">Pengecilan otot?</label>
      <select name="feature11" id="feature11">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature12">Muntah?</label>
      <select name="feature12" id="feature12">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature13">Pembakaran kemih ?</label>
      <select name="feature13" id="feature13">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature14">Bercak pada saat buang air kecil?</label>
      <select name="feature14" id="feature14">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature15">Kelelahan?</label>
      <select name="feature15" id="feature15">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature16">Penambahan berat badan?</label>
      <select name="feature16" id="feature16">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature17">Kecemasan?</label>
      <select name="feature17" id="feature17">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature18">Tangan dan kaki dingin?</label>
      <select name="feature18" id="feature18">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature19">Suasana hati badmood?</label>
      <select name="feature19" id="feature19">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature20">Penurunan berat badan?</label>
      <select name="feature20" id="feature20">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature21">Gelisah?</label>
      <select name="feature21" id="feature21">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature22">Lesu?</label>
      <select name="feature22" id="feature22">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature23">Bercak di tenggorokan?</label>
      <select name="feature23" id="feature23">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature24">Kadar gula tidak teratur?</label>
      <select name="feature24" id="feature24">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature25">Batuk?</label>
      <select name="feature25" id="feature25">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature26">Demam tinggi?</label>
      <select name="feature26" id="feature26">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature27">Mata Cekung?</label>
      <select name="feature27" id="feature27">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature28">Sesak napas?</label>
      <select name="feature28" id="feature28">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature29">Berkeringat?</label>
      <select name="feature29" id="feature29">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature30">Dehidrasi?</label>
      <select name="feature30" id="feature30">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature31">Gangguan pencernaan?</label>
      <select name="feature31" id="feature31">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature32">Sakit Kepala?</label>
      <select name="feature32" id="feature32">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature33">Kulit kekuningan?</label>
      <select name="feature33" id="feature33">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature34">Urine berwarna gelap?</label>
      <select name="feature34" id="feature34">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature35">Mual?</label>
      <select name="feature35" id="feature35">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature36">Kehilangan Nafsu Makan?</label>
      <select name="feature36" id="feature36">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature37">Sakit di Belakang Mata?</label>
      <select name="feature37" id="feature37">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature38">Sakit Punggung?</label>
      <select name="feature38" id="feature38">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature39">Sembelit?</label>
      <select name="feature39" id="feature39">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature40">Sakit Perut?</label>
      <select name="feature40" id="feature40">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature41">Diare?</label>
      <select name="feature41" id="feature41">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature42">Demam Ringan?</label>
      <select name="feature42" id="feature42">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature43">Urin Kuning?</label>
      <select name="feature43" id="feature43">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature44">Mata Menguning?</label>
      <select name="feature44" id="feature44">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature45">Gagal Hati Akut?</label>
      <select name="feature45" id="feature45">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature46">Kelebihan Cairan?</label>
      <select name="feature46" id="feature46">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature47"> Pembengkakan Perut?</label>
      <select name="feature47" id="feature47">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <label for="feature48">Pembengkakan Kelenjar getah bening?</label>
      <select name="feature48" id="feature48">
        <option value="#"></option>
        <option value="1">Ya</option>
        <option value="0">Tidak</option></select
      ><br />
      <input type="submit" value="Prediksi" />
    </form>

    {% if prediction is not none %}
    <p>Penyakit yang anda alami: {{ prediction }}</p>
    {% endif %}
    <script>
      function validateForm() {
        var inputElements = document.getElementsByTagName("select");
        for (var i = 0; i < inputElements.length; i++) {
          if (inputElements[i].value === "#") {
            alert("Lengkapi Form nya.");
            return false; // Mencegah pengiriman formulir jika karakter "#" ditemukan
          }
        }
        return true; // Lanjutkan pengiriman formulir jika semuanya valid
      }
    </script>
  </body>
</html>
